{% extends "learning_environment/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}

     <div class="row justify-content-evenly">
        <div class="col" style="margin-left:50px;">
            {# space for left side content #}
            <img src="/static/img/signup_img.svg" class="img-fluid">
        </div>

        <div class="col-4" style="margin-right:10vw;">
            {# space for right side content #}
            <div class="text-right" style="color: #0A125E;"> Already a user?
                <a class="link-secondary" href="{% url 'login' %}" style="margin:1vw; color:#009A3F;"> Log in here</a>
            </div>

            <div class="card" style="border: none; margin-top: 22vh;">
                <div class="card-header" style="border-bottom:none; background-color:transparent;" align="center">
                    <h2>Sign up to IPACA</h2>
                    <span style="font-size: 18px;">Glad to meet you!</span>
                </div>

                <div class="card-body">
                    <div class="container">
                        <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Sign Up</button>

                        </form>
                    </div>
                 </div>
            </div>

        </div>
    </div>


{% endblock %}