{% if mode == 'solve' %}
    <form method="post" class="form-inline">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}">
        {% for part in task.content %}
            {% if part.name %}
                {% if part.mode == 'fillin' %}
                    <input type="text" name="solution-{{ task.id }}-{{ part.name }} size="15">
                {% elif part.mode == 'select' %}
                    <select class="form-select" name="solution-{{ task.id }}-{{ part.name }}" size="1" id="solution-{{ task.id }}-{{ part.name }}" style="width:10em;display:inline-block;margin-bottom:0.5em;margin-top:0.5em;">
                        <option value="---" selected="selected">---</option>
                        {% for o in part.options %}
                            <option value="{{ o.text }} ">{{ o.text }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            {% else %}
                {{ part.text|safe }}
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-secondary" style="padding: 0;float:right; margin: 0; width: 8em; height: 3.2em; background-color: #1C009C;"><span style="font-size: 18px;">Check!</span></button>
        
    </form>
{% else %}
    {% for part in task.content %}
        {% if part.name %}
            {% if part.mode == 'fillin' %}
                <input type="text" name="solution-{{ task.id }}-{{ part.name }}" size="15" value="solution" disabled="disabled">
            {% elif part.mode == 'select' %}
                <select class="form-select" name="solution-{{ task.id }}-{{ part.name }}" size="1" id="solution-{{ task.id }}-{{ part.name }}" style="width:10em;display:inline-block;margin-bottom:0.5em;margin-top:0.5em;"  disabled="disabled">
                    <option value="---">---</option>
                    {% for o in part.options %}
                        <option value="{{ o.text }}" {% if part.solution == o.text %}selected{% endif %}>{{ o.text }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            {% if part.solution and part.solution != '---' %}
                {% for o in part.options %}
                    {% if o.text == part.solution %}
                        <span class="feedbackbox" style="position: absolute; bottom: 6.5em; left: 16em; "><i>{% if part.solved %}✓{% else %}✗{% endif %} {{ o.feedback }}</i></span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {{ part.text|safe }}
        {% endif %}
    {% endfor %}

{% endif %}

<style>
    .card{
        margin: 0 auto;
        width: 60em;
        height: fit-content;
        border-radius: 2.5em;
        padding: 2em;
        padding-bottom:2em ;
        
    }
    form.form-inline{
        font-size:20px;

    }
    h3{
        font-size: 4em;
        text-align: center;
        color: black;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .btn-primary{
        width:4em;
        height: 3em;
        float: right;
    }

    p{
        font-size:18px;
    }

    .form-select{
        max-width:fit-content;
        border-radius: 2em;
        font-size: 16px;
        
    }


    i{
        color: red;
    }
</style>