<div class="card-choice">
<p class="card-text">{{ task.question }}</p>

{% if mode == 'solve' %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }} ">
        {% for o in task.content %}
            <div class="form-check"style="padding-left:0;">
                <input class="form-check-input" type="checkbox" name="solution-{{ task.id }}-{{ forloop.counter0 }}" id="task-{{ task.id }}-{{ forloop.counter0 }}">
                <div class="card-choices" style="margin-left:20px;">
                <div class="card-answer" "<label class="form-check-label" for="task-{{ task.id }}-{{ forloop.counter0 }}"> 
                  {{ o.text }}
                </label>
            </div>
        {% endfor %}
        <div style="margin-top: 2em">
            <button type="submit" class="btn btn-secondary";">Check!</button>
        </div>
    </div>
        <style>
            .form-check .form-check-input{
                position: relative;
                border-radius: 10px;
                width:1.6em;
                height: 1.5em;
                
            }

            .card{
               
            margin:0 auto;
            width: 60em;
            height: 60em;
            padding: 0 ;
        }
        .row{
            width: 100%;
            float:left;
    
        }

        .card-answer{
            position: relative;
            width: auto;
            border: 0.5px solid;
            margin-top: 0.5em;
            height: 4em;
            padding: 0.8em;
        }
        
        .card-choice{

            border-radius: 2em;
            float:right;
            left: 55%;
            top: 25%;
            background-color: white;
            position: fixed;
            padding: 4em;
        

        }
        .container{
            width:auto;
            right:40%;
            float:left;
            display: flex;
            overflow: hidden;
            border-radius: 0.5em;
            
            
            
        }

        .lesson-text{
            padding: 0;
            margin-left: 0;
            overflow-y:scroll;
            scroll-b
        }

        .container-fluid{
            margin-left: 0;
        }
        
    
        
        
        </style>
    </form>
{% else %}
    {% for o in task.content %}
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox" name="solution-{{ task.id }}-{{ forloop.counter0 }}"
                   id="task-{{ task.id }}-{{ forloop.counter0 }}"
                   value="{{ forloop.counter0 }}"
                   disabled="disabled"
                   {% if o.checked %}checked="checked"{% endif %}>
            <label class="form-check-label" for="task-{{ task.id }}-{{ forloop.counter0 }}" disabled="disabled">
                {{ o.text }}
            {% if o.checked %}
                {% if o.feedback %}
                    <br><i>{{ o.feedback }}</i>
                {% endif %}
            {% endif %}
            </label>
        </div>
    {% endfor %}
{% endif %}
