<div class="card-choice">

    <p class="card-text">{{ task.question }}</p>

{% if mode == 'solve' %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}">
        {% for o in task.content %}
            <div class="form-check align-items-center">
                <input class="form-check-input" type="radio" name="solution-{{ task.id }}" id="task-{{ task.id }}-{{ forloop.counter0 }}" value="{{ forloop.counter0 }}">
             <div class="card-answer">
                <label class="form-check-label" for="task-{{ task.id }}-{{ forloop.counter0 }}">
                  {{ o.text }}
                </label>
            </div>
            </div>
        {% endfor %}
        <div>
            <button type="submit" class="btn btn-secondary" style="margin-bottom:0.1em; float:right; width: 8em; height: 3.2em; background-color: #1C009C;">Check!</button>
        </div>
    </form>
{% else %}
    {% for o in task.content %}
        <div class="form-check align-items-center">
            <input class="form-check-input"
                   type="radio" name="solution-{{ task.id }}"
                   id="task-{{ task.id }}-{{ forloop.counter0 }}"
                   value="{{ forloop.counter0 }}"
                   disabled="disabled"
                   {% if forloop.counter0 == chosen %}checked="checked"{% endif %}>
            <div class="card-answer">
            <label class="form-check-label" for="task-{{ task.id }}-{{ forloop.counter0 }}" disabled="disabled">
                {{ o.text }}



            </label>

            </div>

        </div>
                                                {% if forloop.counter0 == chosen %}
                       {% if o.feedback %}
                   <br><p style="color:red;">{{ o.feedback }}</p>
                {% endif %}
                 {% endif %}

    {% endfor %}
{% endif %}
</div>

<style>


    .form-check-input{
        border-radius: 15px;
        border: 2px solid rgba(216, 216, 216, 0.872);
        margin:auto;
        width:2.2em;
        height: 2.2em;
        top:30px;
        left: 5em;
    }


    .card-choice{
        width: 80%;
    margin:auto;
    height:fit-content;
    border-radius: 2em;
    padding: 3em;
    background-color: #EDEBF7;
    }



    h3{
    margin-top:0;
    margin-bottom:0;
    display:none;
    }

    .card-text{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0;
    }

    .card-answer{
        width: 70%;
        border-radius:1.5em;
        border: 1px solid #dfdfdf;
        background-color: white;
        height: auto;
        padding: 0.5em;
        margin: 1em auto;
    }



</style>