<p class="card-text" >{{ task.question }}</p>

{% if mode == 'solve' %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}">
        <p><input type="text" size="50" name="answer"></p>
        <div style="margin-top: 2em">
            <button type="submit" class="btn btn-secondary">Check!</button>
        </div>
    </form>
{% else %}
    {% if solved %}
        <p> {{ success_feedback }} </p>
    {% else %}
        <p> '{{ user_answer }}' is not correct. </p>
        <p> {{spelling_correction_feedback}} <br> {{adj_feedback}} <br> {{missing_word_feedback}}</p>
        <p> {{ correct_feedback }} </p>
        {% endif %}
{% endif %}
