<p class="card-text" >{{ task.question }}</p>

{% if mode == 'solve' %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}">
        <p><input type="text" size="50" name="answer"></p>
        <div style="margin-top: 2em">
            <button type="submit" class="btn btn-secondary">Check!</button>
        </div>
    </form>
{% else %}
    {% if solved %}
        <p> {{ success_feedback }} </p>
        {% if enough_snippets_feedback == False %}
        <p> However please use at least three of the given snippets. </p>
        {% endif %}
        {% if adj_exists == False %}
        <p> Though, please use at least one adjective next time. </p>
        {% endif %}
    {% else %}
        <p> '{{ user_answer }}' is not correct. </p>
        <p> {{spelling_correction_feedback}} <br> {{adj_feedback}} <br> {{missing_word_feedback}}</p>
        <p> {{ correct_feedback }} </p>
        {% if enough_snippets_feedback == False %}
        <p> Please use at least three of the given snippets next time. </p>
        {% endif %}
        {% if adj_exists == False %}
        <p> Please use at least one adjective next time. </p>
        {% endif %}
    {% endif %}
{% endif %}  
