{% load extras %}
<p class="card-text">{{ task.question }}</p>

{% if mode == 'solve' %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}">
        <input type="hidden" name="solution" id="solution" value="">
        <ul id="sortlist">
            {% for o in task.content.paragraphs|shuffle %}
           <li data-paragraph-id="{{o.id}}">{{o.paragraph}}</li>
            {% endfor %}
        </ul>
           <div style="width:33%; margin:0 auto;">
            <button type="submit" class="btn" style="width: 100%; color: white; background: linear-gradient(294.49deg, rgba(255, 110, 127, 0.8) -122.6%, rgba(28, 0, 156, 0.8) 91.23%, rgba(191, 233, 255, 0.8) 175.87%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
;">Check!</button>
        </div>
</form>
{% else %}  {# show solution #}
    <ul class="slist">
        {% for o in solution %}
            {% for p in task.content.paragraphs %}
                {% if p.id == o %}  
                    <li style="cursor:default">{{ p.paragraph }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


<style>

    h3{
        font-size: 3.5em;
        color:black;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1em;
    }


</style>