{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


    <title>iPaca</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-image: linear-gradient(to bottom,#91042c,#ab0533);"" >
    <div class="container-xl justify-content-around">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="bi-bank2 text-light"></i> IPACA </a>


        <div>
            {% if user.is_authenticated %}
                <div class="container ">
                    <ul class="nav">
                        <li class="nav-item"><p style="color: white"> Hi {{ user.username }}! </p></li>

                        <li class="nav-item"><a class="btn btn-secondary " href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="container justify-content-around">

                      <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>

                        <a class="btn btn-warning" href="{% url 'signup' %}">Sign up</a>



                </div>
            {% endif %}
        </div>
    </div>
</nav>


<main class="">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">

    </div>

    <div class=" row ms-sm-auto">


        <div class="col-md-2">
            {# space for side content #}
        </div>

        <div class="col-md-8">
            {# display messages #}
            {% bootstrap_messages %}
            {# the block 'content' will be filled by the individual page templates #}
            {% block content %}No content{% endblock %}
        </div>
        <div class="col-md-2">
            {# space for side content #}
        </div>
    </div>
</main>


{% bootstrap_javascript %}


</body>
</html>