{% extends "learning_environment/base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block content %}
    <!-- anychart -->
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>

    <!-- anychart CSS -->
    <link href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

    <h1>The Global Dashboard</h1>

    <p>Users have worked on {{ num_solutions }} tasks so far.</p>
    <p>Correctness: {{ tasks_correctness }} %</p>

    <div id="solutions_bar_chart_container" style="height: 20rem"></div>
    <div id="all_category_pie_chart_container" style="height: 20rem"></div>
    <div id="newest_category_pie_chart_container" style="height: 20rem"></div>

    <table class="table">
        <tr><th>Timestamp</th>
            <th>User</th>
            <th>Task Name</th>
            <th>Correct?</th>
            <th>Analysis</th>
        </tr>
    {% for solution in solutions %}
        <tr>
            <td>{{ solution.timestamp }}</td>
            <td>{{ solution.user.username }}</td>
            <td>{{ solution.task.name }}</td>
            <td>{{ solution.solved }}</td>
            <td>{{ solution.analysis }}</td>
        </tr>
    {% endfor %}
    </table>

    <script>
        anychart.onDocumentReady(function() {
            var chart = anychart.fromJson({{ solutionsBarChartData | safe }});
            chart.draw();

            var allPieChart = anychart.fromJson({{ allCategoryPieChartData | safe }});
            allPieChart.draw();

            var newestPieChart = anychart.fromJson({{ newestCategoryPieChartData | safe }});
            newestPieChart.draw();
        });
    </script>
{% endblock %}

