{% extends "learning_environment/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <h1>The Global Dashboard</h1>

    <p>Users have worked on {{ num_solutions }} tasks so far.</p>
    <p>Correctness: {{ tasks_correctness }} %</p>
    <table class="table">
        <tr><th>Timestamp</th>
            <th>User</th>
            <th>Task Name</th>
            <th>Correct?</th>
            <th>Analysis</th>
        </tr>
    {% for solution in solutions %}
        <tr>
            <td>{{ solution.timestamp }}</td>
            <td>{{ solution.user.username }}</td>
            <td>{{ solution.task.name }}</td>
            <td>{{ solution.solved }}</td>
            <td>{{ solution.analysis }}</td>
        </tr>
    {% endfor %}
    </table>

    <div class="container">
        <a href="{%  url 'questions_chart' %}">Solutions Analysis Chart</a>  &middot;
        <a href="{%  url 'users_activity' %}">Users Activity</a>  &middot;
    </div>

{% endblock %}