{% extends "learning_environment/base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block content %}
<body style="background-color:#f8f9fa;">

         {% include "learning_environment/header.html" %}

<div class="container-fluid" style="background: #F9F9FB;">
    <div class="row">

            {% include "learning_environment/nav.html" %}


        <div class="col" style="margin-left: 18px; padding:0;">

            {# Display Tasks #}


            <div class="card" style="margin-top:10px; border-radius:15px; border: none;">

                <div class="me-auto" style="padding:20px; font-weight: bold;">
                    <p>Users have worked on {{ num_solutions }} tasks so far.</p>
                    <p>Correctness: {{ tasks_correctness }} %</p>
                </div>

                 <table class="table">
                        <tr><th>Timestamp</th>
                            <th>User</th>
                            <th>Task Name</th>
                            <th>Correct?</th>
                            <th>Analysis</th>
                        </tr>
                    {% for solution in solutions %}
                        <tr>
                            <td>{{ solution.timestamp }}</td>
                            <td>{{ solution.user.username }}</td>
                            <td>{{ solution.task.name }}</td>
                            <td>{{ solution.solved }}</td>
                            <td>{{ solution.analysis }}</td>
                        </tr>
                    {% endfor %}
                    </table>
            </div>
        </div>
</div>

</div>




 </body>
{% endblock %}

