{% extends "learning_environment/base.html" %}


{% block content %}

    <div class="row justify-content-evenly">
            {# space for left side content #}
        <div class="col-5"style="; margin-left:50px;">
            <img src="/static/img/logo.svg" class="img-fluid" alt="Responsive image">
             <div class="row-fluid" align="center" >
               {# <div class="col-4" style="border:1px solid rebeccapurple"> LEARN </div>#}
             <h1> LEARN ENGLISH </h1>

            <div class="align-middle"">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column">
                    <h1 class="text align-self-center p-2">item 1</h1>
                    <p class="text align-self-center p-2">Are you struggling to improve your academic English skills?  iPaca is here to help! With our carefully selected little tasks, you will be able to hone your skills and build confidence in your reading.</p>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-start">
                <a class="btn btn-primary" href="{% url 'signup' %}">START</a>
                <a class="btn continue-btn" href="{% url 'login' %}">CONTINUE</a>
            </div>
             </div>
        </div>

        <div class="col-6">
                {# space for right side content #}
             <img src="/static/img/home_background_img.svg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
{% endblock %}
