{% extends "learning_environment\base.html" %}

{% block content %}

    <div class="container-fluid">


        <div class="d-flex justify-content-center">
            <div class="card " style="width: 50rem; margin-top: 5vh">

                <div class="card-body">
                    <h5 class="card-title">Example task</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biology</h6>
                    <p class="card-text">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in egestas ante. Vestibulum
                        ut
                        ultrices arcu, et dapibus libero. Suspendisse lorem purus, scelerisque at tempor efficitur,
                        varius
                        sit amet sapien. Integer et lacus eu tortor interdum vehicula. Donec interdum, sapien eu
                        pulvinar
                        posuere, arcu nisi facilisis turpis, eu malesuada nisl purus sed lorem. Etiam vehicula volutpat
                        velit, vel ullamcorper eros ______ vel. Nulla quis cursus sapien. Cras maximus odio vitae mollis
                        elementum. Morbi at ligula et quam facilisis congue. Duis erat sem, aliquam at nulla pharetra,
                        venenatis tristique purus. Praesent sit amet volutpat lacus. Nulla facilisi. Phasellus nisl
                        libero,
                        molestie non suscipit et, rutrum in felis. Nulla eget sodales tortor, pellentesque interdum dui.
                        Etiam tristique, metus ac vehicula consequat, diam ipsum lobortis eros, in euismod nulla ligula
                        ac
                        sem. Mauris et purus dui.

                        Donec posuere augue felis, eget vulputate enim consectetur non. Nam blandit, lorem sed eleifend
                        pellentesque, nisi velit feugiat libero, nec scelerisque risus lorem at diam. Sed sodales sapien
                        a
                        vulputate ultrices. In vehicula enim non leo eleifend, id faucibus urna tempor. Aliquam
                        ultricies a
                        velit eget vulputate. In et diam quis magna pulvinar egestas. Aenean tristique hendrerit rutrum.
                        Donec dictum sagittis elit sit amet suscipit.
                    <div class="d-flex flex-row justify-content-around">
                        <div class="p-2">Item 1</div>
                        <div class="p-2">Flex item 2</div>
                        <div class="p-2">Flex item 3</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
