{% extends "learning_environment/base.html" %}

{% block content %}

<header class="navbar">
    <div class="navbar me-auto">
        <a class="navbar-brand" href="{% url 'home' %}">
            <span><img src="/static/img/logo.svg" class="img-fluid"></span> </a>
    </div>

    <div class="navbar ms-auto">
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/static/img/profile_avatar.svg" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Hello, {{ user.username }}!</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
            <li><a class="dropdown-item ms-auto" href="{% url 'logout' %}">Log out</a></li>
          </ul>
        </div>
    </div>
</header>


<div class="container-fluid" style="background: #F9F9FB;">
    <div class="row">

        <nav class="col-3" style="background:white">
            <div class="d-flex flex-column flex-shrink-0 p-3" style=" width: 25vw;">

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link link-dark" aria-current="page">
                        {# TO DO Add icon img#}
                        {# <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> #}
                        My Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-item collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                            {# TO DO Add icon img#}
                            Tasks
                        </a>

                        <div class="collapse" id="dashboard-collapse" style="">
                            <ul class="">
                                <li><a href="#" class="link-dark rounded">Academic</a></li>
                                <li><a href="#" class="link-dark rounded">General</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="nav-link link-dark">
                          {# TO DO Add icon img#}
                          Results
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="col">
            {# Dashboard cards #}
            <div class="row" style="margin-top:10px">
                <div class="col-md-4 mt-md-0">
                    <div class="d-flex card-dashboard gradient-yellow">
                        {# card shadow-lg move-on-hover min-height-160 min-height-160 #}

                        <div class="d-flex card-body align-items-center justify-content-center">
                            <span style="font-size: 35px; color: white; text-align: center;">{{ num_hours}} <br>Time spent</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-md-0 mt-4">
                    <div class="d-flex card-dashboard gradient-purple">
                        <div class="d-flex card-body align-items-center justify-content-center">
                            <span style="font-size: 35px; color: white; text-align: center;">{{ num_tasks}} <br> Tasks completed</span>
                        
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-md-0 mt-4">
                    <div class="d-flex card-dashboard gradient-green">
                        <div class="d-flex card-body align-items-center justify-content-center">
                            <span style="font-size: 35px; color: white; text-align: center;">{{ tasks_correct_responses }} % <br>Correct Responses</span>
                        </div>
                    </div>
                </div>
            </div>

            {# Display Tasks #}


                <div class="card" style="margin-top:10px; border-radius:15px">
                    <div class="me-auto">
                        <h4> Tasks </h4>
                    </div>

                    <div class="justify-content-between" >
                        <ul class="ul-3col">
                            <li class="list-group-item">TASK NAME</li>
                            <li class="list-group-item">PERCENTAGE</li>
                            <li class="list-group-item">ACTION BUTTON</li>
                        </ul>
                        <ul class="ul-3col">
                            <li class="list-group-item">TASK NAME</li>
                            <li class="list-group-item">PERCENTAGE</li>
                            <li class="list-group-item">ACTION BUTTON</li>
                        </ul>
                    </div>
                </div>

        </div>

        </div>

    </div>


{% endblock %}
