{% extends "learning_environment/base.html" %}


{% block content %}


<body id="myhome" style="background-color:#f8f9fa;">

         <header class="navbar" style="background-color: white;">
        <div class="navbar me-auto">
            <a class="navbar-brand" href="{% url 'home' %}">
                <span><img src="/static/img/logo.svg" class="img-fluid"></span> </a>
            <input type="text" placeholder="Search" style="border-radius: 15px; border: none; background-color:#f8f9fa; height:40px; width:250px; margin-left:260px;margin-top: 20px; padding:20px;">
        </div>

        <div class="navbar ms-auto">

            <div class="dropdown" style="display:flex">
                <strong style="padding-left:2em; padding-right:1em; padding-top:0.5em;">Hello, {{ user.username }}!</strong>
                <img src="/static/img/profile_avatar.svg" style="width: 32px; height:32px;">
                    <img src = "/static/img/drop_down_icon.svg" data-bs-toggle="dropdown" aria-expanded="false">

              <ul class="dropdown-menu text-small shadow" style="border-radius: 10px;" aria-labelledby="dropdownUser2">
                <li><a class="logout" href="{% url 'logout' %}" style=" margin: 15px; border-radius: 50px !important; color:white;"><img src = "/static/img/exit_icon.svg" style="margin-right: 5px;"> Logout</a></li>
              </ul>
              <style>
                .logout{
                    background-color:#D9D9D9;
                }
                .logout:hover{
                    background-color: #1C009C!important;
                }
              </style>
            </div>
        </div>
    </header>

<div class="container-fluid" style="background: #F9F9FB;">
    <div class="row">

        {% include "learning_environment/nav.html" %}

        <div class="col" style="margin-left: 18px; padding:0;">
            {# Dashboard cards #}
            <div class="card" style="border-radius:15px; width: auto; padding: 25px; border:none;">
            <div class="row" >
                <div class="col-md-4 mt-md-0">
                    <div class="d-flex card-dashboard gradient-yellow" style="width:auto; margin: auto;">
                        {# card shadow-lg move-on-hover min-height-160 min-height-160 #}
                        <div class="d-flex card-body align-items-center justify-content-center">
                            <span style="font-size: 40px; color: white; text-align: center;position: absolute;">{# TO DO num_hours #}</span>
                                <span style ="font-size: 20px; color: black; text-align:center; position: relative; padding-top: 70px;">Hours spent</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-md-0 mt-4">
                    <div class="d-flex card-dashboard gradient-purple" style="width:auto; margin:auto;">
                        <div class="d-flex card-body align-items-center justify-content-center">
                            <span style="font-size: 40px; color: white; text-align: center; position: absolute;">{{ num_tasks}} </span>
                                <span style ="font-size: 20px; color: white; text-align:center; position: relative; padding-top: 70px;">Tasks completed</span>
                            </div>
                    </div>
                </div>

                <div class="col-md-4 mt-md-0 mt-4">
                    <div class="d-flex card-dashboard gradient-green" style="width:auto; margin:auto; ">
                        <div class="d-flex card-body align-items-center justify-content-center" >
                            <span style="font-size: 40px; color: white; text-align: center; position:absolute;">{{ tasks_correctness }} % </span>
                                <span style ="font-size: 20px; color: white; text-align:center; position: relative; padding-top: 70px;">Correct Responses</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            {# Display Tasks #}


            <div class="card" style="margin-top:10px; border-radius:15px; border: none;">
                    <div class="me-auto">
                        <h4 style="padding:20px; font-weight: bold;"> Review Tasks </h4>
                    </div>

                    <div class="justify-content-between" style="border:none;">


                            {% for task in wrong_tasks %}

                                    <ul class="ul-3col">
                                        <li class="list-group-item" style="border:none;">
                                            {% if task.type == 'GS' %}
                                                <span><img src="/static/img/icon_grammar.svg" class="img-fluid" style="width:3em; height:3em;"></span>
                                            {% elif task.type == 'V' %}
                                                <span><img src="/static/img/icon_vocabulary.svg" class="img-fluid" style="width:3em; height:3em;"></span>
                                            {% elif task.type == 'R' %}
                                                <span><img src="/static/img/icon_reading.svg" class="img-fluid" style="width:3em; height:3em;"></span>
                                            {% endif %}
                                            {{ task.id }}</li>
                                        <li class="list-group-item" style="border:none;">{{ task.name }}</li>
                                        <li class="list-group-item" style="border:none;">
                                            <a class='btn-practice' href="{% url 'practice' %}?redo={{ task.id }}" style="text-decoration:none; color: white;">Practice</a>
                                        </li>
                                    </ul>

                            {% endfor %}
                    </div>

                    <div class="justify-content-between" >
                        <div class="me-auto">
                        <h4 style="padding:20px; font-weight: bold;"> New Tasks </h4>
                        </div>
                            {% for task in new_tasks %}

                                <ul class="ul-2col">
                                    <li class="list-group-item" style="border:none;">{{ task.lesson.lesson_id }}</li>
                                    <li class="list-group-item" style="border:none;">
                                        <a class='btn btn-primary' href="{% url 'practice' %}" style="margin: 1vh">Practice</a>
                                    </li>
                                </ul>

                            {% endfor %}
                        </div>
                    </div>
        </div>

    </div>

    </div>





 </body>
{% endblock %}
