
<nav class="col-3" style="background:white; margin-top: 0px; padding-top:12px;">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 25vw;">

        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'myhome' %}" class="nav-item i-plain" aria-current="page">
                    <i class="bi bi-house-door"></i>
                <span style="font-size:18px; color:black; vertical-align: middle; margin-left: 4px;"> My Home</span>
                </a>
            </li>

        </ul>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'learner_dashboard' %}" class="nav-item i-plain" aria-current="page">
                    <i class="bi bi-bar-chart-line"></i>
                <span style="font-size:18px; color:black; vertical-align: middle; margin-left: 4px;"> My Dashboard</span>
                </a>
            </li>

        </ul>
    </div>
</nav>



<script>

    $("#icon-book").click(function() {
        $(this).find('i').toggleClass('bi-book-fill');
        $(this).find('i').toggleClass('bi-book');
    });

    $("#icon-trophy").click(function() {
        $(this).find('i').toggleClass('bi-trophy-fill');
        $(this).find('i').toggleClass('bi-trophy');
    });

    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('bold');
                $(this).parents('li').find($('span')).addClass('bold');
                $(this).parents('li').find($('.i-plain')).addClass('nav-active');
                $(this).parents('li').find($('.collapse')).addClass('show')

                var oldClass = $(this).parents('li').find($('i')).attr('class');
                var newClass = oldClass + '-fill'
                $(this).parents('li').find($('i')).removeClass(oldClass);
                $(this).parents('li').find($('i')).addClass(newClass);
            }
        });
    });
</script>
