{% extends "learning_environment/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container-fluid">


        <div class="d-flex justify-content-center row">

             <div class="text-center border-bottom" style=" margin-bottom: 5vh">
                <h1>{{ lesson.name }} </h1>
             </div>

            {% if task.paragraph_shown %}
                <div class="card shadow rounded " >


                    <div class="card-body">
                        <p class="card-text">

                            {{ lesson.paragraph }}

                        </p>

                    </div>
                </div>
            {% endif %}


            <div class="card shadow rounded " style=" margin-top: 5vh">


                <div class="card-body">

                    <h5 class="card-title"> <b>Task: {{ task.title }} </b> </h5>

                    <div class="d-flex row justify-content-around">
                        <div class="card-text">
                            {{ task.question }}
                        </div>


                        <div class="card-text">
                            {% csrf_token %}
                            {% crispy form %}


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}