{% extends "learning_environment/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
{% include "learning_environment/header.html" %}
{% endblock %}


{% block content %}


    <h3 style="background:white; padding:20px; margin:0;">
        {{ lesson.name }}{% if task %}: {{ task.get_type_display }} Task {% endif %}
    </h3>

    {# Display "Start lesson" screen #}
    {% if mode != 'result' and state == 'START' %}
        <p>&nbsp;</p>
        {% if lesson.start %}
            <div>
                {{lesson.start}}
            </div>
        {% endif %}
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="lesson" value="{{ lesson.id }}">
            <input type="hidden" name="start" value="start">
            <button type="submit" class="btn btn-primary">Start lesson</button>
        </form>
    {# Display "Lesson Finished" screen #}
    {% elif mode != 'result' and state == 'WRAPUP' %}
        <h2>Congratulations! You finished the lesson!</h2>
        <p>&nbsp;</p>
        {% if lesson.wrapup %}
            <div>
                {{lesson.wrapup}}
            </div>
        {% endif %}
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="lesson" value="{{ lesson.id }}">
            <input type="hidden" name="finish" value="finish">
            <button type="submit" class="btn btn-primary">Finish!</button>
        </form>
    {% else %}
        {% if task.paragraph_shown %}
            {{ lesson.paragraph }}
        {% endif %}

            <div class="justify-content-center" style="background:transparent;">

 {#                  <div class="card " style=" padding: 1em;">#}
 {#                    <div class="card-body" style="margin: 0 auto;">#}

                            {# LESSON TEXT #}
                    <div class="row align-items-center" style="background:transparent;">
                            {% if task.show_lesson_text %}


                            <h5 class="card-title" style="margin:0;">{{ task.title }}</h5>

                                 <div class="col-6 my-auto" style="background:white; height:100vh;">
                                    <div class="lesson-text" style="padding:30px; border:none; font-size:18px; border-radius:0;">

                                            {{ task.lesson.text | safe }}
                                            <cite>{{ task.lesson.text_source }}</cite>
                                    </div>
                                 </div>
                            {% endif %}
                        <div class="col">
                            {% if msg %}
                                <p class="card-text" style="bottom:0; color: red;">{{ msg }}</p>
                            {% endif %}
                            {% include task.get_template %}
                            {% if mode == 'result' %}
                                <p style="margin-top: 2em;">
                                    {% if not solved %}
                                        <a href="{% url 'practice' %}?redo={{ task.id }}" class="btn btn-primary">Try again</a> &nbsp;
                                    {% else %}
                                        <a href="{% url 'practice' %}" class="btn btn-primary">Go on!</a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>

    {% endif %}

<style>
   body{
    background: url({% static 'img/task_background.svg'%}) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz--background-size:cover;
    -o--background-size:cover;
    background-size: cover;
   }





</style>

{% endblock %}

{% block js %}
    {% if task.get_additional_js %}
        {% include task.get_additional_js %}
    {% endif %}
{% endblock %}