{% extends "learning_environment/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
{% include "learning_environment/header.html" %}
{% endblock %}

{% block content %}
     <div class="row align-items-center justify-content-center" style="background:transparent;">
        <div class="card-choice" style="margin:2em;">
    <table class="table">
        <tr><th><a href="?ordering={% if request.GET.ordering == 'id' %}-{% endif %}id" class="link-unstyled">ID {% if request.GET.ordering == 'id' %}▲{% else %}▼{% endif %}</a></th>
            <th><a href="?ordering={% if request.GET.ordering == 'name' %}-{% endif %}name" class="link-unstyled">Name {% if request.GET.ordering == 'name' %}▲{% else %}▼{% endif %}</a></th>
            <th><a href="?ordering={% if request.GET.ordering == 'lesson__name' %}-{% endif %}lesson__name" class="link-unstyled">Lesson {% if request.GET.ordering == 'lesson__name' %}▲{% else %}▼{% endif %}</a></th>
            <th><a href="?ordering={% if request.GET.ordering == 'interaction' %}-{% endif %}interaction" class="link-unstyled">Interaction {% if request.GET.ordering == 'interaction' %}▲{% else %}▼{% endif %}</a></th>
            <th>Actions</th>
        </tr>
{% for task in page_obj %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.lesson.name }} (ID: {{ task.lesson.lesson_id }}) <a href="{% url 'lessondelete' task.lesson.id %}" class="btn btn-outline-danger btn-sm" 
            onclick='if (confirm("Do you really want to delete the entire lesson {{task.lesson.name}}?") == false) this.preventDefault()'>Delete</a> </td>
        <td>{{ task.interaction }}</td>
        <td>
            <a class="btn btn-secondary" href="{% url 'practice' %}?redo={{ task.id }}" style="margin:0.1em auto;">Run</a>
            <a class="btn btn-secondary" href="{% url 'lessondetail' task.lesson.id %}" style="margin:0.1em auto;">JSON5</a>
        </td>
    </tr>
{% endfor %}
    </table>

<div class="pagination text-center" style="width:100%; font-size:15px;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
        </div>
     </div>
    {% include "learning_environment/footer.html" %}
{% endblock %}